
.overlay{height:100%; width:100%; position:fixed;  top:0;  background: #000; display: none; }
.flashContent{width:768px; height:623px; background: url(../img/flashTip/flashBg.png) no-repeat;position: relative; margin: 0 auto; }
.flashContent img{ position:absolute; left: 354px; top:172px;}
.getTip{position: absolute; top:285px; z-index: 1; left:370px; line-height: 30px; color: #fff; font-size: 20px; font-weight:bold;  font-family: 'Times New Roman'  }
.getlink{position: absolute; top:385px; left:355px; width:357px;  height:108px; background: url(../img/flashTip/flashBtn.png) no-repeat 0 0;}
.getlink:hover{background: url(../img/flashTip/flashBtn.png) no-repeat 0 -108px;}
.getClick{position: absolute; top:534px; left:370px; font-size: 12px; font-family: Arial; font-weight:bold;  color: #fff;}
.getClick a{color:#fff; text-decoration: underline}
